# Setze die Langchain-Module zusammen und begrenze die Versionen
langchain==0.1.20
langchain-community==0.0.38 

# Die restlichen, nicht konfliktanfälligen Module
streamlit
pymongo
pandas
sentence-transformers
openai
